<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizMaster Arena</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" href="C:\Users\uspho\Downloads\favicon_io (3)\favicon-32x32.png" type="image/x-icon">
</head>
<body>
    <div class="header">
        <h1>QuizMaster Arena</h1>
    </div>
    <div class="content">
        {% block content %}
        <!-- Content specific to each page goes here -->
        {% endblock %}
    </div>
    <div class="footer">
        <p>Good luck, Quiz Master!</p>
    </div>
</body>
</html>
