{% extends 'quiz/base.html' %}
{% load static %}
<script src="{% static 'js/quiz.js' %}"></script>
{% block content %}
    <h2>Good luck, {{ request.session.player_name }}!</h2>
    
    <!-- Display Questions -->
    {% for question in questions %}
        <div class="question-container">
            <div class="question-text">{{ question.question.text }}</div>
            
            <!-- Display four answer options as buttons -->
            <div>
                {% for answer in question.answers|slice:":4" %}
                    <button class="answer-button" onclick="checkAnswer(this, '{{ answer }}', '{{ question.correctAnswer }}')">
                        {{ answer }}
                    </button>
                {% endfor %}
            </div>
        </div>
    {% empty %}
        <p>Sorry, no questions are available at the moment.</p>
    {% endfor %}
{% endblock %}
